[adaptive_drive_current]
# currents to try. note: high to low is better here. 
# probe static might work but tap will eventually still fail!
default_currents: 19, 18, 17
chip_name: btt_eddy

[gcode_macro SET_EDDY_DRIVE_CURRENT_TO_LOW]
gcode:
  LDC_NG_SET_DRIVE_CURRENT CHIP=btt_eddy VAL=18

[gcode_macro SET_EDDY_DRIVE_CURRENT_TO_HIGH]
gcode:
  LDC_NG_SET_DRIVE_CURRENT CHIP=btt_eddy VAL=19

[homing_override]
axes: xyz
gcode: 
# Move 5 up, just in case (this is our safety zhop, this needs 'set_position_z: 0' below)
    G91 ; set relative positioning
    G0 Z5 F1000 ; 5 up zhop
    G90
    M117 Homing
    # Used for completion message
    {% set homing_success = 1 %}   
    
    # Looks for XY in params and homes Y first - Comment out to disable
    {% if not rawparams or ('Y' in rawparams and 'X' in rawparams) %}
      M117 Homing Y
      G28 Y F1000
    {% endif %}
    
    # X in params so home X
    {% if not rawparams or 'X' in rawparams %}  
      M117 Homing X
      G28 X
    {% endif %}

    # Y in params so home Y
    {% if 'Y' in rawparams and 'X' not in rawparams %}      
      M117 Homing Y
      G28 Y F1000
    {% endif %}
        
    # Check status of axes XY in printer variables or exists in params or params empty before homing Z
    {% if not rawparams or 'Z' in rawparams %}
      {% if
        not rawparams or 
        (
          rawparams and 
          (
            ("x" in printer.toolhead.homed_axes or 'X' in rawparams) and 
            ("y" in printer.toolhead.homed_axes or 'Y' in rawparams)
          )
        ) 
      %}
        # Set printer probe adjustments for centering probe on bed
        {% set probe_offset_x = 0 %}
        {% set probe_offset_y = 17 %}
 
        # Get printer xy limits
        {% set printer_min_x = printer.toolhead.axis_minimum.x | int %}   
        {% set printer_min_y = printer.toolhead.axis_minimum.y | int %}   
        {% set printer_max_x = printer.toolhead.axis_maximum.x | int %}   
        {% set printer_max_y = printer.toolhead.axis_maximum.y | int %}

        M117 Centering on bed
        # Using max and min to account for deltas with negitive axis
        G1 X{((printer_max_x / 2) + (printer_min_x / 2)) - probe_offset_x} Y{((printer_max_y / 2) + (printer_min_y / 2)) - probe_offset_y} F4800
        G4 S1                                            ; chill for a sec
        M400                                             ; wait for move to finish
        M117 Homing Z
        G28 Z                                            ; do the coarse home
        G90                                              ; set absolute positioning
        G0 Z2 F1000                                      ; to 2mm -- home height (or whatever you'd like), for maximum sensor accuracy
        G4 S1                                            ; chill for a sec
        M400                                             ; wait for move to finish
        M117 Reading height
        PROBE_EDDY_NG_PROBE_STATIC HOME_Z=1              ; read the current exact height from sensor and home Z to it
        G0 Z20 F1000                                     ; to 20mm as home
        G4 S1                                            ; chill for a sec
        M400                                             ; wait for move to finish
        # Center head on bed
        G1 X{(printer_max_x / 2) + (printer_min_x / 2)} Y{(printer_max_y / 2) + (printer_min_y / 2)} F4800
      {% else %}
        {% set homing_success = 0 %}
        M117 X and Y axis must be already homed
      {% endif %}
    {% endif %}
    
    {% if homing_success == 1 %}
      M117 Homing completed
    {% else %}
      M117 Homing failed
    {% endif %}
set_position_z: 0 # This forces the z position to be at 0 when we start homing, so we can move the Z up before homing
  
